<h2>Gestión de Alumnos</h2>


<button mat-raised-button color="primary" class="mb-2" (click)="agregarAlumno()">
  Agregar Alumno
</button>

<mat-table [dataSource]="alumnos" class="mat-elevation-z8">
  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let alumno"> {{ alumno.nombre | titlecase}} </mat-cell>
  </ng-container>

  <!-- Apellido -->
  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
    <mat-cell *matCellDef="let alumno"> {{ alumno.apellido | titlecase}} </mat-cell>
  </ng-container>

  <!-- Edad -->
  <ng-container matColumnDef="edad">
    <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
    <mat-cell *matCellDef="let alumno"> {{ alumno.edad }} </mat-cell>
  </ng-container>

  <!-- ID -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let alumno">
      {{ alumno.id | truncate : 5 }}
    </mat-cell>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let alumno">
      <button mat-button (click)="editarAlumno(alumno)">Editar</button>
      <button mat-button color="warn" (click)="eliminarAlumno(alumno.id)">
        Eliminar
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

